

$color-grey-dark:#777;
$color-header:#87509c;
$color-primary-dark:#643a79;
$color-white:#fff;

//Button Colors
$color-orange-light:#eb7d4b;
$color-orange-dark:#c86a40;
$color-green-light:#17c2a4;
$color-green-dark:#14a58c;
$color-blue-light:#30bae7;
$color-blue-dark:#299ec5;

//Form Colors
$color-background-form: #273a71;

//Layout colors
$color-services:#17c2a3;
$color-teams:#e7f1f8;
$color-portfolio:#ffdd99;
$color-people:#d74680;
$color-contact:#3c5499;
$color-footer:#344b8e;

//Colors Paragraph
$color-primary-heading :#3c4761;
$color-paragraph: #30bae7;


