.portfolio{
    background-color: $color-portfolio;
    padding: 10rem 0;
    text-align: center;
    

    &__details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        

        @include respond(tab-port){
            flex-direction: column;
         }

    }

    &__box{
        padding: 5rem;
        width: 50%;
        // width: calc(100% /2);


    }

}