.services{
 background-color:$color-services ;
 text-align: center;
 padding: 10rem 0;





 &__details{
     display: flex;
     justify-content: center;
     align-items: center;
    //  margin-top: 8.5rem;

    // responsive 
    @include respond(tab-port){
       flex-direction: column;

    }                                                                                                                                            

    
 }

 &__box{
    margin: 3rem;
    padding: 1rem;
 }

 &__image{
    margin-bottom: 3rem;
 }
 

}