body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7;
}

.primary-heading {
    font-size: 4rem;
    color: $color-white;
    line-height: 1.2;
    margin-bottom: 5rem;
   

}

.secondary-heading {
    font-size: 4rem;
    color: $color-white;
    line-height: 1.2;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

// .secondary-heading:after {
//     content: "";
//     display: inline-block;
//     height: 4px;
//     width: 100px;
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     background: red;
//     border-radius: 100px;
  

// }

.tertairy-heading {
    font-size: 2rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 600;
}

.paragraph {
    font-size: 1.5rem;
    color: $color-white;
    line-height: 1.5;

}

.teams__paragraph {
    color: $color-primary-heading;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 7rem;

}

.paragraph-text {
    font-size: 1.5rem;
    color: $color-primary-heading;
}

.black {
    color: $color-primary-heading !important;
}